<form >
  First Name: <input id="first" type="text" name="first_name" required>
  Last Name: <input id="last" type="text" name="last_name" required>
  Email: <input id="email" type="text" name="email" required>
  Social Security Number: <input id="social" type="text" name="social_security_number" required>
  <input id="create_user" type="submit">
</form>
